header {
    width: 100%;
    z-index: 10;
    position: fixed;
    padding: 25px 75px;
    align-items: center;
    display: inline-flex;
    background: transparent;
    transition: background-color 0.5s ease;
}

header.scrolled {
    background-color: #ffffff;
    border-bottom: 0.5px solid #c4c8cb;
}

header a img {
    width: 250px;
    display: block;
}

header button {
    display: none;
}

header nav {
    margin-left: auto;
}

header nav ul {
    gap: 25px;
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    color: #dddddd;
    text-decoration: none;
    transition: color 0.5s ease;
}

header.scrolled nav ul li a {
    color: black;
}

header nav ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

main .hero-slider-section {
    width: 100%;
    height: 100vh;
}

main .hero-slider-section .slide {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

main .hero-slider-section .slide.active {
    opacity: 1;
}

main .hero-slider-section .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .hero-slider-section .slide video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .hero-slider-section .slide .slide-content {
    left: 5%;
    bottom: 15%;
    color: #dddddd;
    max-width: 750px;
    position: absolute;
}

main .hero-slider-section .slide.active .slide-content {
    opacity: 1;
}

main .hero-slider-section .slide .slide-title {
    margin-bottom: 15px;
}

main .hero-slider-section .slide .slide-description {
    margin-bottom: 25px;
}

main .hero-slider-section .slider-dots {
    gap: 25px;
    left: 50%;
    bottom: 25px;
    position: absolute;
    display: inline-flex;
    transform: translateX(-50%);
}

main .hero-slider-section .slider-dots button {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.5s, transform 0.5s;
    background-color: #c4c8cbb9;
}

main .hero-slider-section .slider-dots button.active {
    transform: scale(1.2);
    background-color: #dddddd;
}

main .anniversary-section {
    gap: 25px;
    width: 100%;
    height: auto;
    padding: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

main .anniversary-section img {
    width: 150px;
}

main .anniversary-section .anniversary-description {
    max-width: 800px;
}

main .practice-areas-section .practice-areas-nav ul {
    display: flex;
    list-style-type: none;
}

main .practice-areas-section .practice-areas-nav ul li {
    flex: 1;
    width: 100%;
    padding: 25px 25px;
    align-items: center;
    display: inline-flex;
}

main .practice-areas-section .practice-areas-nav ul li a {
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}

main .practice-areas-section .practice-areas-nav ul li:nth-child(1) {
    background-color: #012a4a;
}

main .practice-areas-section .practice-areas-nav ul li:nth-child(2) {
    background-color: #013a63;
}

main .practice-areas-section .practice-areas-nav ul li:nth-child(3) {
    background-color: #1f5d7a;
}

main .practice-areas-section .practice-areas-nav ul li:nth-child(4) {
    background-color: #357a8f;
}

main .practice-areas-section .practice-areas-nav ul li:nth-child(5) {
    background-color: #4c96ab;
}

main .testimonial-slider {
    width: 100%;
    padding: 50px;
    background-color: #2b2b2b;
}

main .testimonial-slider .testimonial {
    opacity: 0;
    display: none;
    transition: opacity 0.5s ease;
}

main .testimonial-slider .testimonial.active {
    opacity: 1;
    display: block;
}

main .testimonial-slider .testimonial blockquote {
    color: #dddddd;
    max-width: 800px;
    font-style: italic;
    text-align: center;
    margin: 0 auto 25px auto;
}

main .testimonial-slider .testimonial figcaption {
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

main .testimonial-slider .testimonial .testimonial-logo img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto 25px auto;
}

main .testimonial-slider .testimonial-dots {
    gap: 25px;
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

main .testimonial-slider .testimonial-dots .dot {
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #dddddd;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

main .testimonial-slider .testimonial-dots .dot:hover {
    background-color: #888;
}

main .testimonial-slider .testimonial-dots .dot.active {
    background-color: #444444;
}

main .accordion-section {
    overflow: hidden;
    max-width: 1000px;
    margin: 25px auto;
    border-radius: 5px;
}

main .accordion-section .accordion-row {
    border-bottom: 0.5px solid #c4c8cb;
}

main .accordion-section .accordion-row:last-child {
    border-bottom: none;
}

main .accordion-section .accordion-row .accordion-header {
    width: 100%;
    border: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    padding: 25px 25px;
    background-color: #eeeeee;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}

main .accordion-section .accordion-row .accordion-header:hover {
    background-color: #dddddd;
}

main .accordion-section .accordion-row .accordion-header .icon {
    transition: transform 0.5s ease;
}

main .accordion-section .accordion-row .accordion-header[aria-expanded="true"] .icon {
    transform: rotate(180deg);
}

main .accordion-section .accordion-row .accordion-content {
    max-height: 0;
    font-size: 20px;
    padding: 0 25px;
    overflow: hidden;
    background-color: #dddddd;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

main .accordion-section .accordion-row .accordion-content.show {
    max-height: 500px;
    padding: 20px 25px;
}

main .status-section {
    gap: 25px;
    width: 100%;
    display: grid;
    padding: 25px;
    background-color: #212529;
    grid-template-columns: repeat(3, 1fr);
}

main .status-section .stat-item {
    display: inline;
    text-align: center;
    flex-direction: column;
}

main .status-section .stat-item .stat-number {
    font-size: 75px;
    font-weight: 500;
    color: #dddddd;
}

main .status-section .stat-item .stat-label {
    color: #dddddd;
}

@media screen and (max-width: 1024px) {
    main .practice-areas-section .practice-areas-nav ul {
        flex-direction: column;
    }

    main .practice-areas-section .practice-areas-nav ul li a {
        width: 100%;
    }

    main .status-section {
        grid-template-columns: repeat(1, 1fr); 
    }

     header {
        top: 0;
        position: fixed;
        padding: 25px 25px;
        background-color: white;
    }
    
    header a img {
        width: 150px;
    }

    header button {
        border: none;
        display: block;
        background: none;
        margin-left: auto;
    }

    header button i {
        font-size: 25px;
        cursor: pointer;
    }

    header nav {
        left: 0;
        top: 84px;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        pointer-events: none;
        background-color: white;
        transform: translateX(100%);
        border-top: 0.5px solid #c4c8cb;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    header nav.active {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0);
    }

    header nav ul {
        gap: 0;
        flex-direction: column;
    }

    header nav ul li {
        width: 100%;
        padding: 20px;
        border-bottom: 0.5px solid #c4c8cb;
    }

    header nav ul li a {
        color: black;
    }

    header nav ul li a:hover {
        color: #dddddd;
    }
}